<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hello world</title>
</head>

<body>
<div>
    <h3 class="title">Add details</h3>
    <div>
        <form method="POST" action="/adding_new_contact" name="pass_enter_data">
            <div>
                    <input  type="name" name="fname" placeholder="Your first name" >
            </div>
            <div>
                    <input  type="surname" name="lname" placeholder="Your last name" >
            </div>
            <div>
                    <input type="contact" name="contact" placeholder="Your contact">
            </div>
            <input type="submit" value="submit">
        </form>
    </div>
</div>
</body>

</html>