<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hello world</title>
</head>

<body>
<div>
    <h3 class="title">Login {{c}}</h3>
    <div>
        <form method="POST"  name="pass_entered_data">
            <div>
                    <input  type="name" name="name" placeholder="Your first name" >
            </div>

            <div>
                    <input type="contact" name="contact" placeholder="Your contact">
            </div>
            <input type="submit" value="submit">
        </form>
    </div>
</div>
</body>

</html>