<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
UPDATE PAGE : <br>

    <form>
        <button formaction="http://127.0.0.1:5000/get_name/{{email}}">Update Name</button><br>
        <button formaction="http://127.0.0.1:5000/get_id/{{email}}">Update Id</button><br>
        <button formaction="http://127.0.0.1:5000/get_num/{{email}}">Update Number</button><br>

<!--        <button formaction="http://127.0.0.1:5000/addcontact">Add Contact</button><br>-->
<!--        <button formaction="http://127.0.0.1:5000/add_address">Add Address</button><br>-->
    </form>
</body>
</html>